<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Moera Naming Service">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Moera naming service</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="logo">
            <a href="http://moera.org/"><img src="pics/logo-p-128.png" width="217" height="118"></a>
        </div>
        <p>
            This host runs Moera Naming Service. You can access it using
            <a href="http://moera.org/development/protocols/naming-api.html">Moera Naming API</a>.
        </p>
        <p>
            The API endpoint is located at: <tt><b>{{endpointUri}}</b></tt>
        </p>
        <p>
            Learn more about Moera Decentralized Social Network at <a href="http://moera.org/">Moera.org</a>.
        </p>
    </div>
</body>
</html>